FIREBASE_PROJECT_ID=your-project-id
FIREBASE_SERVICE_ACCOUNT_PATH=C:/path/to/serviceAccountKey.json
FIREBASE_JSON=
PORT=8080

# Planned split DB setup:
# Postgres for non-chat entities
DATABASE_URL=postgres://user:password@localhost:5432/itstep_db?sslmode=disable
# MongoDB for chats
MONGO_URL=mongodb://localhost:27017/itstep_chat
MONGO_DB_NAME=itstep_chat
